.col-xs-9
  %h2
    Book detail
    %table.table
      %tbody
        %tr
          %td
            = link_to user_path(@book_detail.user.id) do
              = attachment_image_tag @book_detail.user, :profile_image, format: 'jpg', fallback: "no_image.jpg", size:'100x100'
              %br
              = @book_detail.user.name
          %td
            = link_to @book_detail.title, book_path(@book_detail.id)
          %td
            = @book_detail.body
          - if current_user.id == @book_detail.user.id
            %td
              = link_to 'Edit', edit_book_path(@book_detail.id), class: "btn-sm btn-success edit_book_#{@book_detail.id}"
            %td
              = link_to 'Destroy', book_path(@book_detail.id), method: :delete, class: "btn-sm btn-danger destroy_book_#{@book_detail.id}", 'data-confirm' => 'Are you sure?'
