.row
  .top-message.col-md-offset-3.col-md-6
    %h1
      welcome to
      %span.glyphicon.glyphicon-book
      %strong
        Bookers
      !!
    %p
      In
      %span.glyphicon.glyphicon-book
      %strong
        Bookers
      ,
    %p
      you can share and exchange  your opinions , inpressions , and emotions
    %p
      about various books!
    .btn-wrapper
      .row
        %p
          = link_to 'Log in', new_user_session_path, class: 'btn btn-info col-xs-10 col-xs-offset-1 sign_in'
      .row
        %p
          = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success col-xs-10 col-xs-offset-1 sign_up'


- @parents.each do |parent|
  %p.parent
    = parent.name
  - parent.children.each do |child|
    %p.child
      = child.name
    - child.children.each do |grandchild|
      %p.grandchild
        = grandchild.name
