.col-xs-3
  %h2
    User info
  = attachment_image_tag current_user, :profile_image, format: 'jpg', fallback: "no_image.jpg", size:'100x100'
  %table.table
    %tbody
      %tr
      %tr
        %th
          name
        %th
          = current_user.name
      %tr
        %th
          introduction
        %th
          = current_user.introduction
  .row
    = link_to '', edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}"
  %h2
    New book
  = render partial: 'common/book_form', locals: { btn_name: 'Create' }